@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avenir Regular";
  src:
    local("Avenir Regular"),
    url("/fonts/Avenir-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Heavy";
  src:
    local("Avenir Heavy"),
    url("/fonts/Avenir-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Alike-Regular";
  src:
    local("Alike-Regular"),
    url("/fonts/Alike-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @apply scroll-smooth;
}
